/* style.css */

.grid-style-bg {
    position: relative;
    background-image:
        repeating-linear-gradient(to right, #4b5563a2 0 0.5px, transparent 0.5px 6px),
        repeating-linear-gradient(to bottom, #4b5563a2 0 0.5px, transparent 0.5px 6px);
    background-size: 6px 6px;
    background-color: rgba(15, 23, 42, 0.9);
    filter: blur(2);
}

#workflow-container {
    overflow: hidden;
    position: relative;
}

#workSpace {
    /* outline: 2px solid red; */
    overflow: auto;
}


#grid-canvas-bg,
#node-connector-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}

#grid-canvas-bg {
    background-image: radial-gradient(#4b5563a2 0.8px, transparent 1px);
    background-size: 20px 20px;
    background-color: rgba(15, 23, 42, 0.9);
    width: 100%;
    /* filter: blur(2); */
}

#node-connector-canvas {
    z-index: 1;
}

.nodes {
    position: relative;
    width: 120px;
    height: 200px;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    user-select: none;
    flex-flow: column;

}

.node-wrapper {
    position: absolute;
    height: fit-content;

}

.nodeHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodeMain {
    flex: 1;
    /* fills remaining height after header */
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nodes::before {
    content: "";
    position: absolute;
    left: -8px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgb(11, 83, 252);
}

.nodes::after {
    content: "";
    position: absolute;
    right: -8px;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ff9500;
} */
.spanTags {

    height: 10px;
    width: 10px;
    border-radius: 50px;
    position: absolute;
    top: 50px;
}

.input {
    background: #ff9500;
    right: -5px
}

.output {
    background: rgb(11, 83, 252);
    left: -5px
}